.video {
  width: 100%;
  margin-bottom: 0.5em;
  height: 500px;
}

.detail {
  padding: 1em;
  background-color: #fff;
}

.detail > * {
  display: block;
}

.detail .title {
  margin-bottom: 0.2em;
}

.detail .channel {
  margin-bottom: 1em;
}

.detail .description {
  white-space: pre-wrap;
}

/* Responsive - Smartphone */
@media screen and (max-width: 767px) {
  .video {
    height: 300px;
  }
}
