.app {
  border: 1px solid #333;
  margin: 0 auto;
}

.content {
  display: flex;
  padding: 1em;
  background-color: #333;
}

.selectedVideo {
  padding-right: 1em;
  width: 70%;
  flex-grow: 7;
}

.videoList {
  width: 30%;
  flex-grow: 3;
}
